body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
#components-layout-demo-custom-trigger .trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
  /* background: #fff; */
}
.site-layout .site-layout-background::-webkit-scrollbar {
  width: 8px; 
  height: 8px; /* 垂直滚动条高度 */
}
/* 滚动条轨道 */
.site-layout .site-layout-background::-webkit-scrollbar-track {
  background: #fafafa; /* 轨道颜色 */
  border-radius: 10px; /* 圆角 */

}
/* 滚动条滑块 */
.site-layout .site-layout-background::-webkit-scrollbar-thumb {
  background: #1677ff; /* 滑块颜色 */
  border-radius: 10px; /* 圆角 */
}
.main-container {
  /* min-height: calc(100vh - 64px); */
  height: 100vh;
  overflow: hidden;
}
.main-container .app-name {
  /* background-color: #000; */
  text-align: center;
  color: #fff;
  line-height: 64px;
  font-weight: bold;
  font-size: 16px;
  margin: 0;
}
